@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Hind_Siliguri', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background-color: #F1F5F9;
}

* {
  font-family: 'Hind_Siliguri', sans-serif !important;
}
