@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Hind_Siliguri', sans-serif;
  background-color: #f8fafc;
}

/* বাংলা সংখ্যার বিশেষ ফন্ট সাপোর্ট */
input, select, button {
  font-family: 'Hind_Siliguri', sans-serif !important;
}
