@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Hind Siliguri', sans-serif;
}

body {
  margin: 0;
  background-color: #F8FAFC;
  -webkit-font-smoothing: antialiased;
}

* {
  font-family: 'Hind Siliguri', sans-serif !important;
}
