@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Hind Siliguri', sans-serif;
    background-color: #f8fafc;
  }
}

/* বড় ফরমের স্ক্রলবার লুকানোর জন্য */
.custom-scroll::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* ইনপুট বক্সের বাড়তি অ্যারো লুকানো */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* অ্যানিমেশন ট্রানজিশন */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
